---
import Layout from '../../layouts/Layout.astro';
import { getLaunchBy, getLaunches } from '../../lib/spacex';
const { id } = Astro.params;

let launch;

if(id) {
  launch = await getLaunchBy({ id });
}

export async function getStaticPaths() {
  const launches = await getLaunches()

  return launches.map((launch) => ({
    params: {id: launch.id}
  }))
}
---

<Layout title=`Launch #${launch?.flight_number}`>
  <artcile class="flex flex-col gap-y-4 items-center justify-center">
    <img class="w-52 h-auto" src={launch?.links?.patch.small} alt={launch?.name} />
    <h2 class="text-4xl text-white font-bold ">Launch #{launch?.flight_number}</h2>
    <p class="text-lg">{launch?.details ?? 'No hay detalles...'}</p>
  </artcile>
</Layout>