---
export const prerender = true
import Layout404 from "../layouts/Layout404.astro";
---

<Layout404 title="404 - Page not found">
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-white text-3xl text-center">Esta pagina no existe...</h1>
    <img class="py-8" src="https://midu.dev/images/this-is-fine-404.gif" alt="Gif del perro que dice 'This is fine' mientras se quema vivo" />
</Layout404>