---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div class="flex flex-col gap-y-4 items-center justify-center">
    <h1 class="text-4xl text-white font-bold ">About</h1>
  
    <p class="py-4">The SpaceX launches project is a demo project for Astro</p>
  </div>
</Layout>